*{
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
}
.bannar-section{
background-image: url(../images/banner/banner3.png);
 background-size: cover; 
background-repeat: no-repeat; 
width: 100%; 
}
.banner{
    text-align: right;
   padding-top: 100px;
   margin: 0 180px;
}
.banner-sub-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
    text-align: right;
    color: #fff
}
.banner-description{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
margin: 20px 0;
color: #fff;
}
.btn-primary{
font-weight: 600;
font-size: 17px;
line-height: 23px;
text-align: right;
border-radius: 5px;
color: #005FAC;
background-color: #fff;
 margin-bottom: 190px;
 padding: 18px 20px;
 border: none;
}

/* about-section-start */
.about-section{
    display: flex;
    margin: 0 180px;
    padding-top: 100px;
}
.about-img{
    height: 500px;
    text-align: left;
}
.description{
    text-align: left;
    padding-top: 100px;
    padding-left: 85px;
}
.about-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 18px 0;
}
.about-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.about-rulse{
    padding: 7px 0;
}
.about-sign{
    height: 13px;
    width: 15px;
    padding-right: 2px;
}

/* motivactional-section */

.motivactional-section{
    margin: 0 167px;
margin-top: 130px;
text-align: center;
}
.motivactional-title{
    padding-top: 100px;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.secand-albums{
    margin-top: 151px;
    display: flex;
    margin-right: 90px;
}
.frist-albums{
    display: flex;
     margin-right: 90px;
}
.album-bio-1{
    padding-top: 30px;
    padding-right: 90px;
}
.album-bio-2{
    padding-left: 90px;

}
.album-title{
    font-weight: 700;
    font-size: 35px;
    line-height: 54px;
    color: #121212;
}
.album-discription{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    padding-bottom: 30px;
    padding-top: 20px;
}
.album-discription{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    padding-bottom: 30px;
    padding-top: 20px;
}
.photo-album{
    width: 456px;
    height: 477px;
    border-radius: 5px;
}
.update{
    margin: 0 316px;
}
.email{
    border: none;
    padding: 10px 15px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
}
.button{
    background: #FF5959;
    padding: 8px 15px;
    border: none;
    font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
border-radius: 0px 5px 5px 0px;
}
.contact{
    text-align: center;
    padding: 76px 188px;
    background: #FFF4D6;
    margin-top: 50px;
   
}

/* plans-section */
.plans-section{
    text-align: center;
    margin: 0 180px;
    padding-top: 100px;
}
.plans-title{
    font-weight: 700;
    font-size: 40px;
    padding: 50px 0;
    line-height: 47px;
}
.my-plans{
display: flex;
justify-content: space-between;
}
.plan-img{
   height: 70px; 
   width: 70px;
}
.box-description1{
    color: #151414;
    font-weight: 700;
    font-size: 19px;
    line-height: 35px;
}
.box-description2{
    font-weight: 500;
    font-size: 16px;
    color: #737272;
    line-height: 29px;  
}

/* longbanner-section */

.longimage-section{
    margin: 100px 180px;

}
.longimage{
    background-image: url(../images/watch.png), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 90%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
   width: 100%;
   height: 300px;
    border-radius: 8px;
}
.image-title{
font-weight: 700;
font-size: 30px;
line-height: 47px;
color: #fff;
margin-left: 50px;
padding-top: 80px ;
}
.btn-primary2{
font-weight: 600;
font-size: 17px;
line-height: 23px;
text-align: right;
border-radius: 5px;
color: #005FAC;
background-color: #fff;
 margin-bottom: 190px;
 padding: 16px 18px;
 border: none;
 margin-left: 50px;
 margin-top: 6px ;
}

/* footer-section */

.footer-section{
    padding-bottom: 70px;
    background-color: #151414;
    display: flex;
    justify-content: space-between;
}
.footer-contacts{
    margin-left:180px;
}
.footer-title{
    margin-top: 70px;
    color: #fff;
}
.footer-contact{
    margin-top: 15px;
    color: #fff;
    font-weight: 400;
font-size: 14px;
line-height: 26px;
}
.footer-icon{
    width: 38px;
    height: 38px; 
    margin-top: 15px;
}
.footer-form{
text-align: left;
margin-right:180px;
}
.form-title{
    margin-top: 90px;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 17px;
}
.form-input{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
     color: #F3F3F3;
     background-color: #151414;
     border:1px solid #fff;
     padding: 7px 7px;
     border-radius: 5px;

}
.btn-primary4{
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: right;
    border-radius: 5px;
    color: #005FAC;
    background-color: #fff;
     margin: 17px 0;
     padding: 16px 20px;
     border: none;
    }



